* {
  box-sizing: border-box;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(23,11,52);
}

#random {
  top: calc(50% - 70px);
  left: calc(50% - 110px);
}

#instructions {
  top: calc(50% + 20px);
  left: calc(50% - 74px);
  cursor: default;
  user-select: none;
}

.texts {
  font-size: 18px;
  color: white;
  position: absolute;
}

.texts.active {
  color: rgb(23,11,52);
}
  
#form {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 3px solid rgb(236,141,40);
  position: absolute;
  top: 50%;
  left: calc(50% - 20px);
  margin-top: -20px; 
  cursor: pointer;
  transition: all 200ms ease-in-out;
  color: rgb(236,141,40);
  clear: both;
}

#form.active {
  width: 200px;
  left: calc(50% - 100px);
}

#form.top {
  top: 60px;
}

#form.reset {
  top: 50%;
}

#handle {
  border: 2px solid rgb(236,141,40);
  width: 20px;
  height: 1px;
  position: absolute;
  top: 36px;
  left: 26px;
  transform: rotate(45deg);
  opacity: 1;
  transition: all 300ms ease-in-out;
}

#handle.active {
  /*display: none;*/
  width: 0px;
  opacity: 0;
}

#text-input {
  margin: 4px 0 0 13px;
  color: white;
  font-size: 18px;
  outline: none;
  border: none;
  opacity: 0;
  background: 0 0;
  display: none;
  transition: opacity 300ms ease-in-out;
  position: absolute;
  top: 0px;
  left: 0px;
}

#text-input.active {
  display: inline-block;
  opacity: 1;
  width: 150px;
}

#collapse-btn {
  opacity: 0;
  border: 3px solid rgb(236,141,40);
  margin: 5px 0 0 7px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  display: none;
  transition: opacity 1000ms ease-in-out;
  position: absolute;
  top: 6px;
  right: 10px;
}

#collapse-btn.active {
  opacity: 1;
  display: inline-block;
}

#results {
  position: absolute;
  top: 90%;
  transition: top 300ms ease-in-out;
  margin: 0px auto;
  padding: 0px 90px;
}

#results.top {
  top: 85px;

}

.result-box {
  background-color: #333;
  color: white;
  padding: 5px 20px 5px 20px;
  margin: 10px 0px;
  transition: all 200ms ease-in-out;
}

.result-box:hover {
  transform: scale(1.05);
  background-color: #222;
  border-left: solid 5px rgb(236,141,40);
}

a, a:hover, a:visited, a:active, a:focus {
  color: white;
  text-decoration: none;
}

.texts.active a, .texts.active a:hover, .texts.active a:visited, .texts.active a:active, .texts.active a:focus {
  color: rgb(23,11,52);
  text-decoration: none;
  cursor: default;
  user-select: none;
}



